extensions/SemanticWikiTag/includes/webservices/addin2.wsdl

<?xml version='1.0' encoding='UTF-8'?>

<!-- WSDL file generated by Zend Studio. -->

<definitions name="addin" targetNamespace="urn:addin"
	xmlns:typens="urn:addin" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns="http://schemas.xmlsoap.org/wsdl/">
	<types>
		<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="urn:addin">
			<xsd:complexType name="stringArray">
				<xsd:complexContent>
					<xsd:restriction base="soapenc:Array">
						<xsd:attribute ref="soapenc:arrayType"
							wsdl:arrayType="xsd:string[]" />
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="PropertyPairArray">
				<xsd:complexContent>
					<xsd:restriction base="soapenc:Array">
						<xsd:attribute ref="soapenc:arrayType"
							wsdl:arrayType="typens:PropertyPair[]" />
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="ValidateType">
				<xsd:all>
					<xsd:element name="name" type="string" />
					<xsd:element name="version" type="string" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="AuthReturnType">
				<xsd:all>
					<xsd:element name="exception"
						type="typens:ExceptionType">
					</xsd:element>
					<xsd:element name="restriction"
						type="typens:RestrictionType">
					</xsd:element>

				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="PropertyPair">
				<xsd:all>
					<xsd:element name="name" type="string" />
					<xsd:element name="value" type="string" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="PageInfo">
				<xsd:sequence>
					<xsd:element name="author" type="string"></xsd:element>
					<xsd:element name="lastUpdate" type="string"></xsd:element>
					<xsd:element name="properties"
						type="typens:PropertyPairArray">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="AuthenticationType">
				<xsd:sequence>
					<xsd:element name="user" type="string"></xsd:element>
					<xsd:element name="password" type="string"></xsd:element>
					<xsd:element name="type" type="string"></xsd:element>
					<xsd:element name="encrypted" type="boolean"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ExceptionType">
				<xsd:sequence>
					<xsd:element name="ret_code" type="string"></xsd:element>
					<xsd:element name="message" type="string"></xsd:element>
				</xsd:sequence>

			</xsd:complexType>

			<xsd:complexType name="RestrictionType">
				<xsd:sequence>
					<xsd:element name="restriction" type="int"></xsd:element>
					<xsd:element name="supportedDomains"
						type="typens:stringArray">
					</xsd:element>
					<xsd:element name="message" type="string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="StringsType">
				<xsd:sequence>
					<xsd:element name="exception"
						type="typens:ExceptionType">
					</xsd:element>
					<xsd:element name="values"
						type="typens:stringArray">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="PropertyPairsType">
				<xsd:sequence>
					<xsd:element name="exception"
						type="typens:ExceptionType">
					</xsd:element>
					<xsd:element name="values"
						type="typens:PropertyPairArray">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="PageInfoType">
				<xsd:sequence>
					<xsd:element name="exception"
						type="typens:ExceptionType">
					</xsd:element>
					<xsd:element name="info" type="typens:PageInfo"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="CommentsType">
				<xsd:sequence>
					<xsd:element name="exception"
						type="typens:ExceptionType">
					</xsd:element>
					<xsd:element name="values"
						type="typens:CommentArray">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		
			<xsd:complexType name="CommentArray">
				<xsd:complexContent>
					<xsd:restriction base="soapenc:Array">
						<xsd:attribute ref="soapenc:arrayType"
							wsdl:arrayType="typens:Comment[]" />
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			
			<xsd:complexType name="Comment">
				<xsd:all>
					<xsd:element name="name" type="string" />
					<xsd:element name="comment" type="string" />
				</xsd:all>
			</xsd:complexType>

            <xsd:attribute name="arrayType" type="string"></xsd:attribute>
        
</xsd:schema>
	</types>
	<message name="getCategoriesRequest" />
	<message name="getCategoriesResponse">
		<part name="getCategoriesReturn" type="typens:stringArray" />
	</message>
	<message name="getPropertiesRequest" />
	<message name="getPropertiesResponse">
		<part name="getPropertiesReturn" type="typens:stringArray" />
	</message>
	<message name="getTitlePropertiesRequest">
		<part name="title" type="xsd:string" />
	</message>
	<message name="getTitlePropertiesResponse">
		<part name="getTitlePropertiesReturn"
			type="typens:PropertyPairArray" />
	</message>
	<message name="getTitlesRequest">
		<part name="categoryTitles" type="typens:stringArray" />
	</message>
	<message name="getTitlesResponse">
		<part name="getTitlesReturn" type="typens:stringArray" />
	</message>
	<message name="validateRequest" />
	<message name="validateResponse">
		<part name="validateReturn" type="typens:ValidateType" />
	</message>
	<wsdl:message name="saveNewMailRequest">
		<wsdl:part name="subject" type="xsd:string"></wsdl:part>
		<wsdl:part name="sender" type="xsd:string"></wsdl:part>
		<wsdl:part name="receivers" type="typens:stringArray"></wsdl:part>
		<wsdl:part name="ccs" type="typens:stringArray"></wsdl:part>
		<wsdl:part name="sentDate" type="xsd:dateTime"></wsdl:part>
		<wsdl:part name="basedMailPage" type="xsd:string"></wsdl:part>
		<wsdl:part name="action" type="xsd:string"></wsdl:part>
		<wsdl:part name="categories" type="typens:stringArray"></wsdl:part>
		<wsdl:part name="body" type="xsd:string"></wsdl:part>
		<wsdl:part name="attachments" type="typens:stringArray"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="saveNewMailResponse">
		<wsdl:part name="saveNewMailReturn" type="xsd:string"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="addCategoryRequest">
		<wsdl:part name="categoryName" type="xsd:string"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="addCategoryResponse">
		<wsdl:part name="addCategoryReturn" type="xsd:boolean"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getPageInfoRequest">
		<wsdl:part name="title" type="xsd:string"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getPageInfoResponse">
		<wsdl:part name="pageInfo" type="typens:PageInfo"></wsdl:part>
	</wsdl:message>

	<message name="getCategories2Request">
		<wsdl:part name="auth" type="typens:AuthenticationType"></wsdl:part>
	</message>
	<message name="getCategories2Response">
		<part name="getCategories2Return" type="typens:StringsType" />
	</message>
	<message name="getProperties2Request">
		<wsdl:part name="auth" type="typens:AuthenticationType"></wsdl:part>
	</message>
	<message name="getProperties2Response">
		<part name="getProperties2Return" type="typens:StringsType" />
	</message>
	<message name="getTitleProperties2Request">
		<wsdl:part name="auth" type="typens:AuthenticationType"></wsdl:part>
		<part name="title" type="xsd:string" />
	</message>
	<message name="getTitleProperties2Response">
		<part name="getTitleProperties2Return"
			type="typens:PropertyPairsType" />
	</message>
	<message name="getTitles2Request">
		<wsdl:part name="auth" type="typens:AuthenticationType"></wsdl:part>
		<part name="categoryTitles" type="typens:stringArray" />
	</message>
	<message name="getTitles2Response">
		<part name="getTitles2Return" type="typens:StringsType" />
	</message>
	<message name="authenticateRequest">
		<wsdl:part name="auth" type="typens:AuthenticationType"></wsdl:part>
	</message>
	<message name="authenticateResponse">
		<part name="authReturn" type="typens:AuthReturnType" />
	</message>
	<wsdl:message name="saveNewMail2Request">
		<wsdl:part name="auth" type="typens:AuthenticationType"></wsdl:part>
		<wsdl:part name="subject" type="xsd:string"></wsdl:part>
		<wsdl:part name="sender" type="xsd:string"></wsdl:part>
		<wsdl:part name="receivers" type="typens:stringArray"></wsdl:part>
		<wsdl:part name="ccs" type="typens:stringArray"></wsdl:part>
		<wsdl:part name="sentDate" type="xsd:dateTime"></wsdl:part>
		<wsdl:part name="basedMailPage" type="xsd:string"></wsdl:part>
		<wsdl:part name="action" type="xsd:string"></wsdl:part>
		<wsdl:part name="categories" type="typens:stringArray"></wsdl:part>
		<wsdl:part name="body" type="xsd:string"></wsdl:part>
		<wsdl:part name="attachments" type="typens:stringArray"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="saveNewMail2Response">
		<wsdl:part name="saveNewMail2Return"
			type="typens:ExceptionType">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="addCategory2Request">
		<wsdl:part name="auth" type="typens:AuthenticationType"></wsdl:part>
		<wsdl:part name="categoryName" type="xsd:string"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="addCategory2Response">
		<wsdl:part name="addCategory2Return"
			type="typens:ExceptionType">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getPageInfo2Request">
		<wsdl:part name="auth" type="typens:AuthenticationType"></wsdl:part>
		<wsdl:part name="title" type="xsd:string"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getPageInfo2Response">
		<wsdl:part name="getPageInfo2Return"
			type="typens:PageInfoType">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="getCategories2DetailRequest">
        <wsdl:part name="auth" type="typens:AuthenticationType"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getCategories2DetailResponse">
		<wsdl:part name="getCategories2DetailResponse" type="typens:CommentsType"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getPossibleFormsRequest">
		<wsdl:part name="auth" type="typens:AuthenticationType"></wsdl:part>
		<wsdl:part name="form_name" type="xsd:string"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getPossibleFormsResponse">
		<wsdl:part name="getPossibleFormsResponse" type="typens:StringsType"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="savePageToFormRequest">
		<wsdl:part name="auth" type="typens:AuthenticationType"></wsdl:part>
		<wsdl:part name="form_name" type="xsd:string"></wsdl:part>
        <wsdl:part name="page_name" type="xsd:string"></wsdl:part>
        <wsdl:part name="properties" type="typens:PropertyPairArray"></wsdl:part>
		<wsdl:part name="freetext" type="xsd:string"></wsdl:part>
		<wsdl:part name="categories" type="typens:stringArray"></wsdl:part>
		<wsdl:part name="active_form" type="xsd:string"></wsdl:part>
		<wsdl:part name="applicable_forms" type="typens:stringArray"></wsdl:part>
		<wsdl:part name="no_wrapper" type="xsd:boolean"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="savePageToFormResponse">
		<wsdl:part name="savePageToFormResponse" type="typens:ExceptionType"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="createFormTemplateRequest">
		<wsdl:part name="auth" type="typens:AuthenticationType"></wsdl:part>
		<wsdl:part name="name" type="xsd:string"></wsdl:part>
		<wsdl:part name="properties" type="typens:PropertyPairArray"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="createFormTemplateResponse">
		<wsdl:part name="createFormTemplateResponse" type="typens:ExceptionType"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="savePageBasicRequest">
		<wsdl:part name="auth" type="typens:AuthenticationType"></wsdl:part>
        <wsdl:part name="form_name" type="xsd:string"></wsdl:part>
        <wsdl:part name="page_name" type="xsd:string"></wsdl:part>
        <wsdl:part name="properties" type="typens:PropertyPairArray"></wsdl:part>
        <wsdl:part name="freetext" type="xsd:string"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="savePageBasicResponse">
		<wsdl:part name="savePageBasicResponse"
			type="typens:ExceptionType">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="setPageFormsRequest">
		<wsdl:part name="auth" type="typens:AuthenticationType"></wsdl:part>
		<wsdl:part name="page_name" type="xsd:string"></wsdl:part>
		<wsdl:part name="active_form" type="xsd:string"></wsdl:part>
		<wsdl:part name="applicable_forms" type="typens:stringArray"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="setPageFormsResponse">
		<wsdl:part name="setPageFormsResponse"
			type="typens:ExceptionType">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperationRequest">
		<wsdl:part name="NewOperationRequest" type="xsd:string"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperationResponse">
		<wsdl:part name="NewOperationResponse" type="xsd:string"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getFormFieldValuesRequest1">
		<wsdl:part name="auth" type="typens:AuthenticationType"></wsdl:part>
		<wsdl:part name="title" type="xsd:string"></wsdl:part>
		<wsdl:part name="form_name" type="xsd:string"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getFormFieldValuesResponse1">
		<wsdl:part name="getFormFieldValuesResponse" type="typens:PropertyPairsType"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperationRequest1">
		<wsdl:part name="NewOperationRequest1" type="xsd:string"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperationResponse1">
		<wsdl:part name="NewOperationResponse1" type="xsd:string"></wsdl:part>
	</wsdl:message>
    <wsdl:message name="NewMessage">
    	<wsdl:part name="auth" type="typens:AuthenticationType"></wsdl:part></wsdl:message>
    <wsdl:message name="NewMessage1">
    	<wsdl:part name="getStopwordsResponse"
    		type="typens:StringsType">
    	</wsdl:part></wsdl:message>
    <wsdl:message name="getWikiSettingsRequest2">
    	<wsdl:part name="auth" type="typens:AuthenticationType"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getWikiSettingsResponse2">
    	<wsdl:part name="getWikiSettingsResponse"
    		type="typens:PropertyPairsType">
    	</wsdl:part>
    </wsdl:message>
    <wsdl:message name="getSiteFormSettingsRequest2">
    	<wsdl:part name="auth" type="typens:AuthenticationType"></wsdl:part>
    	<wsdl:part name="form_name" type="xsd:string"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getSiteFormSettingsResponse2">
    	<wsdl:part name="getSiteFormSettingsResponse"
    		type="typens:PropertyPairsType">
    	</wsdl:part>
    </wsdl:message>
    <wsdl:message name="getUpdatedTitlesRequest2">
    	<wsdl:part name="auth" type="typens:AuthenticationType"></wsdl:part>
    	<wsdl:part name="categoryTitles" type="typens:stringArray"></wsdl:part>
    	<wsdl:part name="timestamp" type="xsd:string"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getUpdatedTitlesResponse2">
    	<wsdl:part name="getUpdatedTitlesResponse"
    		type="typens:StringsType">
    	</wsdl:part>
    </wsdl:message>
    <wsdl:message name="getFormMappingSettingsRequest2">
    	<wsdl:part name="auth" type="typens:AuthenticationType"></wsdl:part>
    	<wsdl:part name="src_form_name" type="xsd:string"></wsdl:part>
    	<wsdl:part name="target_form_name" type="xsd:string"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getFormMappingSettingsResponse2">
    	<wsdl:part name="getFormMappingSettingsResponse"
    		type="typens:PropertyPairsType">
    	</wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPageCurrentFormRequest2">
    	<wsdl:part name="auth" type="typens:AuthenticationType"></wsdl:part>
    	<wsdl:part name="page_name" type="xsd:string"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPageCurrentFormResponse2">
    	<wsdl:part name="getPageCurrentFormResponse"
    		type="typens:ExceptionType">
    	</wsdl:part>
    </wsdl:message>
    <wsdl:message name="getTitlePropertyDefinitionsRequest2">
    	<wsdl:part name="auth" type="typens:AuthenticationType"></wsdl:part>
    	<wsdl:part name="page_name" type="xsd:string"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getTitlePropertyDefinitionsResponse2">
    	<wsdl:part name="getTitlePropertyDefinitionsResponse"
    		type="typens:PropertyPairsType">
    	</wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateTitlePropertyValueRequest2">
    	<wsdl:part name="auth" type="typens:AuthenticationType"></wsdl:part>
    	<wsdl:part name="page_name" type="xsd:string"></wsdl:part>
    	<wsdl:part name="prop_id" type="xsd:string"></wsdl:part>
    	<wsdl:part name="property" type="xsd:string"></wsdl:part>
    	<wsdl:part name="new_value" type="xsd:string"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateTitlePropertyValueResponse2">
    	<wsdl:part name="updateTitlePropertyValueResponse"
    		type="typens:ExceptionType">
    	</wsdl:part>
    </wsdl:message>
    <portType name="AddInPortType">
		<operation name="getCategories">
			<documentation>Get category names</documentation>
			<input message="typens:getCategoriesRequest" />
			<output message="typens:getCategoriesResponse" />
		</operation>
		<operation name="getProperties">
			<documentation>Get property names</documentation>
			<input message="typens:getPropertiesRequest" />
			<output message="typens:getPropertiesResponse" />
		</operation>
		<operation name="getTitleProperties">
			<documentation>
				Get all properties of specified title
			</documentation>
			<input message="typens:getTitlePropertiesRequest" />
			<output message="typens:getTitlePropertiesResponse" />
		</operation>
		<operation name="getTitles">
			<documentation>
				Get SMW titles by specified categories
			</documentation>
			<input message="typens:getTitlesRequest" />
			<output message="typens:getTitlesResponse" />
		</operation>
		<operation name="validate">
			<documentation>Validate SMW+ site</documentation>
			<input message="typens:validateRequest" />
			<output message="typens:validateResponse" />
		</operation>
		<wsdl:operation name="saveNewMail">
			<wsdl:documentation>
				Save new mail to Wiki, return saved title
			</wsdl:documentation>
			<wsdl:input message="typens:saveNewMailRequest"></wsdl:input>
			<wsdl:output message="typens:saveNewMailResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addCategory">
			<wsdl:input message="typens:addCategoryRequest"></wsdl:input>
			<wsdl:output message="typens:addCategoryResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getPageInfo">
			<wsdl:input message="typens:getPageInfoRequest"></wsdl:input>
			<wsdl:output message="typens:getPageInfoResponse"></wsdl:output>
		</wsdl:operation>

		<operation name="getCategories2">
			<documentation>Get category names</documentation>
			<input message="typens:getCategories2Request" />
			<output message="typens:getCategories2Response" />
		</operation>
		<operation name="getProperties2">
			<documentation>Get property names</documentation>
			<input message="typens:getProperties2Request" />
			<output message="typens:getProperties2Response" />
		</operation>
		<operation name="getTitleProperties2">
			<documentation>
				Get all properties of specified title
			</documentation>
			<input message="typens:getTitleProperties2Request" />
			<output message="typens:getTitleProperties2Response" />
		</operation>
		<operation name="getTitles2">
			<documentation>
				Get SMW titles by specified categories
			</documentation>
			<input message="typens:getTitles2Request" />
			<output message="typens:getTitles2Response" />
		</operation>
		<operation name="authenticate">
			<documentation>Validate SMW+ site</documentation>
			<input message="typens:authenticateRequest" />
			<output message="typens:authenticateResponse" />
		</operation>
		<wsdl:operation name="saveNewMail2">
			<wsdl:documentation>
				Save new mail to Wiki, return saved title
			</wsdl:documentation>
			<wsdl:input message="typens:saveNewMail2Request"></wsdl:input>
			<wsdl:output message="typens:saveNewMail2Response"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addCategory2">
			<wsdl:input message="typens:addCategory2Request"></wsdl:input>
			<wsdl:output message="typens:addCategory2Response"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getPageInfo2">
			<wsdl:input message="typens:getPageInfo2Request"></wsdl:input>
			<wsdl:output message="typens:getPageInfo2Response"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getCategories2Detail">
			<wsdl:input message="typens:getCategories2DetailRequest"></wsdl:input>
			<wsdl:output message="typens:getCategories2DetailResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getPossibleForms">
			<wsdl:input message="typens:getPossibleFormsRequest"></wsdl:input>
			<wsdl:output message="typens:getPossibleFormsResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="savePageToForm">
			<wsdl:input message="typens:savePageToFormRequest"></wsdl:input>
			<wsdl:output message="typens:savePageToFormResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="createFormTemplate">
			<wsdl:input message="typens:createFormTemplateRequest"></wsdl:input>
			<wsdl:output message="typens:createFormTemplateResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="savePageBasic">
			<wsdl:input message="typens:savePageBasicRequest"></wsdl:input>
			<wsdl:output message="typens:savePageBasicResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="setPageForms">
			<wsdl:input message="typens:setPageFormsRequest"></wsdl:input>
			<wsdl:output message="typens:setPageFormsResponse"></wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="getFormFieldValues">
			<wsdl:input message="typens:getFormFieldValuesRequest1"></wsdl:input>
			<wsdl:output message="typens:getFormFieldValuesResponse1"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getStopwords">
			<wsdl:input message="typens:NewMessage"></wsdl:input>
			<wsdl:output message="typens:NewMessage1"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getWikiSettings">
			<wsdl:input message="typens:getWikiSettingsRequest2"></wsdl:input>
			<wsdl:output message="typens:getWikiSettingsResponse2"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getSiteFormSettings">
			<wsdl:input message="typens:getSiteFormSettingsRequest2"></wsdl:input>
			<wsdl:output message="typens:getSiteFormSettingsResponse2"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getUpdatedTitles">
			<wsdl:input message="typens:getUpdatedTitlesRequest2"></wsdl:input>
			<wsdl:output message="typens:getUpdatedTitlesResponse2"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getFormMappingSettings">
			<wsdl:input message="typens:getFormMappingSettingsRequest2"></wsdl:input>
			<wsdl:output message="typens:getFormMappingSettingsResponse2"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getPageCurrentForm">
			<wsdl:input message="typens:getPageCurrentFormRequest2"></wsdl:input>
			<wsdl:output message="typens:getPageCurrentFormResponse2"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getTitlePropertyDefinitions">
			<wsdl:input message="typens:getTitlePropertyDefinitionsRequest2"></wsdl:input>
			<wsdl:output message="typens:getTitlePropertyDefinitionsResponse2"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="updateTitlePropertyValue">
			<wsdl:input message="typens:updateTitlePropertyValueRequest2"></wsdl:input>
			<wsdl:output message="typens:updateTitlePropertyValueResponse2"></wsdl:output>
		</wsdl:operation>
    </portType>
    <binding name="AddInBinding" type="typens:AddInPortType">

    	<soap:binding style="rpc"
    		transport="http://schemas.xmlsoap.org/soap/http" />
    	<operation name="getCategories2">

    		<soap:operation soapAction="urn:addin/getCategories2" />
    		<input>

    			<soap:body use="encoded" namespace="urn:addin"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</input>
    		<output>

    			<soap:body use="encoded" namespace="urn:addin"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</output>
    	</operation>
    	<operation name="getProperties2">

    		<soap:operation soapAction="urn:addin/getProperties2" />
    		<input>

    			<soap:body use="encoded" namespace="urn:addin"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</input>
    		<output>

    			<soap:body use="encoded" namespace="urn:addin"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</output>
    	</operation>
    	<operation name="getTitleProperties2">

    		<soap:operation soapAction="urn:addin/getTitleProperties2" />
    		<input>

    			<soap:body use="encoded" namespace="urn:addin"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</input>
    		<output>

    			<soap:body use="encoded" namespace="urn:addin"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</output>
    	</operation>
    	<operation name="getTitles2">

    		<soap:operation soapAction="urn:addin/getTitles2" />
    		<input>

    			<soap:body use="encoded" namespace="urn:addin"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</input>
    		<output>

    			<soap:body use="encoded" namespace="urn:addin"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</output>
    	</operation>
    	<operation name="authenticate">

    		<soap:operation soapAction="urn:addin/authenticate" />
    		<input>

    			<soap:body use="encoded" namespace="urn:addin"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</input>
    		<output>

    			<soap:body use="encoded" namespace="urn:addin"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</output>
    	</operation>
    	<wsdl:operation name="saveNewMail2">

    		<soap:operation soapAction="urn:addin/saveNewMail2" />
    		<wsdl:input>

    			<soap:body use="encoded" namespace="urn:addin"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:input>
    		<wsdl:output>

    			<soap:body use="encoded" namespace="urn:addin"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:output>
    	</wsdl:operation>
    	<wsdl:operation name="addCategory2">

    		<soap:operation soapAction="urn:addin/addCategory2" />
    		<wsdl:input>

    			<soap:body use="encoded" namespace="urn:addin"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:input>
    		<wsdl:output>

    			<soap:body use="encoded" namespace="urn:addin"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:output>
    	</wsdl:operation>
    	<wsdl:operation name="getPageInfo2">

    		<soap:operation soapAction="urn:addin/getPageInfo2" />
    		<wsdl:input>

    			<soap:body use="encoded" namespace="urn:addin"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:input>
    		<wsdl:output>

    			<soap:body use="encoded" namespace="urn:addin"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:output>
    	</wsdl:operation>
    	<wsdl:operation name="getCategories">

    		<soap:operation soapAction="urn:addin/getCategories" />
    		<wsdl:input>

    			<soap:body use="encoded" namespace="urn:addin"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:input>
    		<wsdl:output>

    			<soap:body use="encoded" namespace="urn:addin"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:output>
    	</wsdl:operation>
    	<wsdl:operation name="getProperties">

    		<soap:operation soapAction="urn:addin/getProperties" />
    		<wsdl:input>

    			<soap:body use="encoded" namespace="urn:addin"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:input>
    		<wsdl:output>

    			<soap:body use="encoded" namespace="urn:addin"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:output>
    	</wsdl:operation>
    	<wsdl:operation name="getTitleProperties">

    		<soap:operation soapAction="urn:addin/getTitleProperties" />
    		<wsdl:input>

    			<soap:body use="encoded" namespace="urn:addin"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:input>
    		<wsdl:output>

    			<soap:body use="encoded" namespace="urn:addin"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:output>
    	</wsdl:operation>
    	<wsdl:operation name="getTitles">

    		<soap:operation soapAction="urn:addin/getTitles" />
    		<wsdl:input>

    			<soap:body use="encoded" namespace="urn:addin"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:input>
    		<wsdl:output>

    			<soap:body use="encoded" namespace="urn:addin"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:output>
    	</wsdl:operation>
    	<wsdl:operation name="validate">

    		<soap:operation soapAction="urn:addin/validate" />
    		<wsdl:input>

    			<soap:body use="encoded" namespace="urn:addin"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:input>
    		<wsdl:output>

    			<soap:body use="encoded" namespace="urn:addin"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:output>
    	</wsdl:operation>
    	<wsdl:operation name="saveNewMail">

    		<soap:operation soapAction="urn:addin/saveNewMail" />
    		<wsdl:input>

    			<soap:body use="encoded" namespace="urn:addin"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:input>
    		<wsdl:output>

    			<soap:body use="encoded" namespace="urn:addin"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:output>
    	</wsdl:operation>
    	<wsdl:operation name="addCategory">

    		<soap:operation soapAction="urn:addin/addCategory" />
    		<wsdl:input>

    			<soap:body use="encoded" namespace="urn:addin"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:input>
    		<wsdl:output>

    			<soap:body use="encoded" namespace="urn:addin"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:output>
    	</wsdl:operation>
    	<wsdl:operation name="getPageInfo">

    		<soap:operation soapAction="urn:addin/getPageInfo" />
    		<wsdl:input>

    			<soap:body use="encoded" namespace="urn:addin"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:input>
    		<wsdl:output>

    			<soap:body use="encoded" namespace="urn:addin"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:output>
    	</wsdl:operation>
    	<wsdl:operation name="getCategories2Detail">

    		<soap:operation soapAction="urn:addin/getCategories2Detail" />
    		<wsdl:input>

    			<soap:body use="encoded" namespace="urn:addin"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:input>
    		<wsdl:output>

    			<soap:body use="encoded" namespace="urn:addin"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:output>
    	</wsdl:operation>
    	<wsdl:operation name="getPossibleForms">

    		<soap:operation soapAction="urn:addin/getPossibleForms" />
    		<wsdl:input>

    			<soap:body use="encoded" namespace="urn:addin"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:input>
    		<wsdl:output>

    			<soap:body use="encoded" namespace="urn:addin"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:output>
    	</wsdl:operation>
    	<wsdl:operation name="savePageToForm">

    		<soap:operation soapAction="urn:addin/savePageToForm" />
    		<wsdl:input>

    			<soap:body use="encoded" namespace="urn:addin"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:input>
    		<wsdl:output>

    			<soap:body use="encoded" namespace="urn:addin"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:output>
    	</wsdl:operation>
    	<wsdl:operation name="createFormTemplate">

    		<soap:operation soapAction="urn:addin/createFormTemplate" />
    		<wsdl:input>

    			<soap:body use="encoded" namespace="urn:addin"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:input>
    		<wsdl:output>

    			<soap:body use="encoded" namespace="urn:addin"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:output>
    	</wsdl:operation>
    	<wsdl:operation name="savePageBasic">

    		<soap:operation soapAction="urn:addin/savePageBasic" />
    		<wsdl:input>

    			<soap:body use="encoded" namespace="urn:addin"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:input>
    		<wsdl:output>

    			<soap:body use="encoded" namespace="urn:addin"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:output>
    	</wsdl:operation>
    	<wsdl:operation name="setPageForms">

    		<soap:operation soapAction="urn:addin/setPageForms" />
    		<wsdl:input>

    			<soap:body use="encoded" namespace="urn:addin"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:input>
    		<wsdl:output>

    			<soap:body use="encoded" namespace="urn:addin"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:output>
    	</wsdl:operation>
    	<wsdl:operation name="getFormFieldValues">

    		<soap:operation soapAction="urn:addin/getFormFieldValues" />
    		<wsdl:input>

    			<soap:body use="encoded" namespace="urn:addin"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:input>
    		<wsdl:output>

    			<soap:body use="encoded" namespace="urn:addin"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:output>
    	</wsdl:operation>
    	<wsdl:operation name="getStopwords">

    		<soap:operation soapAction="urn:addin/getStopwords" />
    		<wsdl:input>

    			<soap:body use="encoded" namespace="urn:addin"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:input>
    		<wsdl:output>

    			<soap:body use="encoded" namespace="urn:addin"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:output>
    	</wsdl:operation>
    	<wsdl:operation name="getWikiSettings">

    		<soap:operation soapAction="urn:addin/getWikiSettings" />
    		<wsdl:input>

    			<soap:body use="encoded" namespace="urn:addin"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:input>
    		<wsdl:output>

    			<soap:body use="encoded" namespace="urn:addin"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:output>
    	</wsdl:operation>
    	<wsdl:operation name="getSiteFormSettings">

    		<soap:operation soapAction="urn:addin/getSiteFormSettings" />
    		<wsdl:input>

    			<soap:body use="encoded" namespace="urn:addin"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:input>
    		<wsdl:output>

    			<soap:body use="encoded" namespace="urn:addin"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:output>
    	</wsdl:operation>
    	<wsdl:operation name="getUpdatedTitles">

    		<soap:operation soapAction="urn:addin/getUpdatedTitles" />
    		<wsdl:input>

    			<soap:body use="encoded" namespace="urn:addin"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:input>
    		<wsdl:output>

    			<soap:body use="encoded" namespace="urn:addin"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:output>
    	</wsdl:operation>
    	<wsdl:operation name="getFormMappingSettings">

    		<soap:operation
    			soapAction="urn:addin/getFormMappingSettings" />
    		<wsdl:input>

    			<soap:body use="encoded" namespace="urn:addin"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:input>
    		<wsdl:output>

    			<soap:body use="encoded" namespace="urn:addin"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:output>
    	</wsdl:operation>
    	<wsdl:operation name="getPageCurrentForm">

    		<soap:operation soapAction="urn:addin/getPageCurrentForm" />
    		<wsdl:input>

    			<soap:body use="encoded" namespace="urn:addin"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:input>
    		<wsdl:output>

    			<soap:body use="encoded" namespace="urn:addin"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:output>
    	</wsdl:operation>
    	<wsdl:operation name="getTitlePropertyDefinitions">

    		<soap:operation
    			soapAction="urn:addin/getTitlePropertyDefinitions" />
    		<wsdl:input>

    			<soap:body use="encoded" namespace="urn:addin"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:input>
    		<wsdl:output>

    			<soap:body use="encoded" namespace="urn:addin"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:output>
    	</wsdl:operation>
    	<wsdl:operation name="updateTitlePropertyValue">

    		<soap:operation
    			soapAction="urn:addin/updateTitlePropertyValue" />
    		<wsdl:input>

    			<soap:body use="encoded" namespace="urn:addin"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:input>
    		<wsdl:output>

    			<soap:body use="encoded" namespace="urn:addin"
    				encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
    		</wsdl:output>
    	</wsdl:operation>
    </binding>
    <service name="addinService">
		<port name="AddInPort" binding="typens:AddInBinding">
			<soap:address
				location="http://{{webservice-endpoint}}/index.php?action=wsmethodaddin" />
		</port>
	</service>
</definitions>
