extensions/SemanticWikiTag/includes/webservices/addin.wsdl

<?xml version='1.0' encoding='UTF-8'?>

<!-- WSDL file generated by Zend Studio. -->

<definitions name="addin" targetNamespace="urn:addin"
	xmlns:typens="urn:addin" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns="http://schemas.xmlsoap.org/wsdl/">
	<types>
		<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="urn:addin">
			<xsd:complexType name="stringArray">
				<xsd:complexContent>
					<xsd:restriction base="soapenc:Array">
						<xsd:attribute ref="soapenc:arrayType"
							wsdl:arrayType="xsd:string[]" />
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="PropertyPairArray">
				<xsd:complexContent>
					<xsd:restriction base="soapenc:Array">
						<xsd:attribute ref="soapenc:arrayType"
							wsdl:arrayType="typens:PropertyPair[]" />
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="ValidateType">
				<xsd:all>
					<xsd:element name="name" type="string" />
					<xsd:element name="version" type="string" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="PropertyPair">
				<xsd:all>
					<xsd:element name="name" type="string" />
					<xsd:element name="value" type="string" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="PageInfo">
				<xsd:sequence>
					<xsd:element name="author" type="string"></xsd:element>
					<xsd:element name="lastUpdate" type="string"></xsd:element>
					<xsd:element name="properties"
						type="typens:PropertyPairArray">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</types>
	<message name="getCategoriesRequest" />
	<message name="getCategoriesResponse">
		<part name="getCategoriesReturn" type="typens:stringArray" />
	</message>
	<message name="getPropertiesRequest" />
	<message name="getPropertiesResponse">
		<part name="getPropertiesReturn" type="typens:stringArray" />
	</message>
	<message name="getTitlePropertiesRequest">
		<part name="title" type="xsd:string" />
	</message>
	<message name="getTitlePropertiesResponse">
		<part name="getTitlePropertiesReturn"
			type="typens:PropertyPairArray" />
	</message>
	<message name="getTitlesRequest">
		<part name="categoryTitles" type="typens:stringArray" />
	</message>
	<message name="getTitlesResponse">
		<part name="getTitlesReturn" type="typens:stringArray" />
	</message>
	<message name="validateRequest" />
	<message name="validateResponse">
		<part name="validateReturn" type="typens:ValidateType" />
	</message>
	<wsdl:message name="saveNewMailRequest">
		<wsdl:part name="subject" type="xsd:string"></wsdl:part>
		<wsdl:part name="sender" type="xsd:string"></wsdl:part>
		<wsdl:part name="receivers" type="typens:stringArray"></wsdl:part>
		<wsdl:part name="ccs" type="typens:stringArray"></wsdl:part>
		<wsdl:part name="sentDate" type="xsd:dateTime"></wsdl:part>
		<wsdl:part name="basedMailPage" type="xsd:string"></wsdl:part>
		<wsdl:part name="action" type="xsd:string"></wsdl:part>
		<wsdl:part name="categories" type="typens:stringArray"></wsdl:part>
		<wsdl:part name="body" type="xsd:string"></wsdl:part>
		<wsdl:part name="attachments" type="typens:stringArray"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="saveNewMailResponse">
		<wsdl:part name="saveNewMailReturn" type="xsd:string"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="addCategoryRequest">
		<wsdl:part name="categoryName" type="xsd:string"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="addCategoryResponse">
		<wsdl:part name="addCategoryReturn" type="xsd:boolean"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getPageInfoRequest">
		<wsdl:part name="title" type="xsd:string"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getPageInfoResponse">
		<wsdl:part name="pageInfo" type="typens:PageInfo"></wsdl:part>
	</wsdl:message>
	<portType name="AddInPortType">
		<operation name="getCategories">
			<documentation>Get category names</documentation>
			<input message="typens:getCategoriesRequest" />
			<output message="typens:getCategoriesResponse" />
		</operation>
		<operation name="getProperties">
			<documentation>Get property names</documentation>
			<input message="typens:getPropertiesRequest" />
			<output message="typens:getPropertiesResponse" />
		</operation>
		<operation name="getTitleProperties">
			<documentation>
				Get all properties of specified title
			</documentation>
			<input message="typens:getTitlePropertiesRequest" />
			<output message="typens:getTitlePropertiesResponse" />
		</operation>
		<operation name="getTitles">
			<documentation>
				Get SMW titles by specified categories
			</documentation>
			<input message="typens:getTitlesRequest" />
			<output message="typens:getTitlesResponse" />
		</operation>
		<operation name="validate">
			<documentation>Validate SMW+ site</documentation>
			<input message="typens:validateRequest" />
			<output message="typens:validateResponse" />
		</operation>
		<wsdl:operation name="saveNewMail">
			<wsdl:documentation>
				Save new mail to Wiki, return saved title
			</wsdl:documentation>
			<wsdl:input message="typens:saveNewMailRequest"></wsdl:input>
			<wsdl:output message="typens:saveNewMailResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addCategory">
			<wsdl:input message="typens:addCategoryRequest"></wsdl:input>
			<wsdl:output message="typens:addCategoryResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getPageInfo">
			<wsdl:input message="typens:getPageInfoRequest"></wsdl:input>
			<wsdl:output message="typens:getPageInfoResponse"></wsdl:output>
		</wsdl:operation>
	</portType>
	<binding name="AddInBinding" type="typens:AddInPortType">

		<soap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="getCategories">

			<soap:operation soapAction="urn:addin/getCategories" />
			<input>

				<soap:body use="encoded" namespace="urn:addin"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>

				<soap:body use="encoded" namespace="urn:addin"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="getProperties">

			<soap:operation soapAction="urn:addin/getProperties" />
			<input>

				<soap:body use="encoded" namespace="urn:addin"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>

				<soap:body use="encoded" namespace="urn:addin"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="getTitleProperties">

			<soap:operation soapAction="urn:addin/getTitleProperties" />
			<input>

				<soap:body use="encoded" namespace="urn:addin"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>

				<soap:body use="encoded" namespace="urn:addin"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="getTitles">

			<soap:operation soapAction="urn:addin/getTitles" />
			<input>

				<soap:body use="encoded" namespace="urn:addin"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>

				<soap:body use="encoded" namespace="urn:addin"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="validate">

			<soap:operation soapAction="urn:addin/validate" />
			<input>

				<soap:body use="encoded" namespace="urn:addin"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>

				<soap:body use="encoded" namespace="urn:addin"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<wsdl:operation name="saveNewMail">

			<soap:operation soapAction="urn:addin/saveNewMail" />
			<wsdl:input>

				<soap:body use="encoded" namespace="urn:addin"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="encoded" namespace="urn:addin"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addCategory">

			<soap:operation soapAction="urn:addin/addCategory" />
			<wsdl:input>

				<soap:body use="encoded" namespace="urn:addin"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="encoded" namespace="urn:addin"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getPageInfo">

			<soap:operation soapAction="urn:addin/getPageInfo" />
			<wsdl:input>

				<soap:body use="encoded" namespace="urn:addin"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="encoded" namespace="urn:addin"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</wsdl:output>
		</wsdl:operation>
	</binding>
	<service name="addinService">
		<port name="AddInPort" binding="typens:AddInBinding">
			<soap:address
				location="http://{{webservice-endpoint}}/index.php?action=wsmethodaddin" />
		</port>
	</service>
</definitions>
