extensions/DataImport/tests/webTestSoapWS.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<definitions name="com.ontoprise.semanticwiki.SMI"
	targetNamespace="com.ontoprise.semanticwiki.TestWS/"
	xmlns:tns="com.ontoprise.semanticwiki.TestWS/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns="http://schemas.xmlsoap.org/wsdl/">
	<types>
		<xsd:schema targetNamespace="com.ontoprise.semanticwiki.TestWS/"
			xmlns:tns="com.ontoprise.semanticwiki.TestWS/" 
			xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
			<xsd:complexType name="parameters">
				<xsd:sequence>
					<xsd:element minOccurs="1" maxOccurs="1" name="flLeafParameter1"
						type="xsd:string" />
					<xsd:element minOccurs="1" maxOccurs="1" name="flTreeParameter"
						type="tns:treeParameter" />
					<xsd:element minOccurs="1" maxOccurs="1" name="flLeafParameter2"
						type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="treeParameter">
				<xsd:sequence>
					<xsd:element minOccurs="1" maxOccurs="1" name="slLeafParameter1"
						type="xsd:string" />
					<xsd:element minOccurs="1" maxOccurs="1" name="slLeafParameter2"
						type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</types>
	<message name="request">
		<part name="parameters" type="tns:parameters" />
	</message>
	<message name="response">
		<part name="parameters" type="tns:parameters" />
	</message>
	<message name="fault">
		<part name="fault" type="xsd:string"></part>
	</message>
	<portType name="com.ontoprise.semanticwiki.TestWSPortType">
		<operation name="testMethod1" parameterOrder="parameters">
			<input message="tns:request" />
			<output message="tns:response" />
			<fault name="MalformedQuery" message="tns:fault"></fault>
		</operation>
		<operation name="testMethod2" parameterOrder="parameters">
			<input message="tns:request" />
			<output message="tns:response" />
			<fault name="MalformedQuery" message="tns:fault"></fault>
		</operation>
	</portType>
	<binding name="com.ontoprise.semanticwiki.TestWSBinding"
		type="tns:com.ontoprise.semanticwiki.TestWSPortType">
		<soap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="testMethod1">
			<soap:operation
				soapAction="urn:com.ontoprise.semanticwiki.TestWS#testMethod1" />
			<input>
				<soap:body use="encoded"
					namespace="urn:com.ontoprise.semanticwiki.TestWS"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body use="encoded"
					namespace="urn:com.ontoprise.semanticwiki.TestWS"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="testMethod2">
			<soap:operation
				soapAction="urn:com.ontoprise.semanticwiki.TestWS#testMethod2" />
			<input>
				<soap:body use="encoded"
					namespace="urn:com.ontoprise.semanticwiki.TestWS"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body use="encoded"
					namespace="urn:com.ontoprise.semanticwiki.TestWS"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
	</binding>
	<service name="com.ontoprise.semanticwiki.TestWS">
		<documentation>
  com.ontoprise.semanticwiki.TestWS web service
  </documentation>
		<port name="com.ontoprise.semanticwiki.TestWSPort"
			binding="tns:com.ontoprise.semanticwiki.TestWSBinding">
			<soap:address location="http://smwforum.ontoprise.com/bugzilla-connector/bc/BC_SoapServer3.php" />
		</port>
	</service>
</definitions>
