extensions/SMWHalo/includes/webservices/flogic.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.1 in JDK 6. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.1 in JDK 6. -->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
xmlns:tns="http://rule.ontobroker.drivers.triplestore.smwplus.ontoprise.com/"
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns="http://schemas.xmlsoap.org/wsdl/"
targetNamespace="http://rule.ontobroker.drivers.triplestore.smwplus.ontoprise.com/"
name="FlogicParserImplService">
<types>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.1 in JDK 6.-->
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ParseException" type="tns:ParseException"/>
   <xs:complexType name="sessionData">
      <xs:sequence>
         <xs:element name="rule" type="tns:ruleRepresentation"/>
         <xs:element name="sessionId" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ruleRepresentation">
      <xs:sequence>
         <xs:element name="body" type="tns:literalws" maxOccurs="unbounded"/>
         <xs:element name="boundVariables" type="tns:variablews" maxOccurs="unbounded"/>
         <xs:element name="error" type="xs:string"/>
         <xs:element name="freeVariables" type="tns:variablews" maxOccurs="unbounded"/>
         <xs:element name="head" type="tns:literalws"/>
         <xs:element name="_axiomID" type="xs:string"/>
         <xs:element name="_ontologyId" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="literalws">
      <xs:complexContent>
         <xs:extension base="tns:formulaws">
            <xs:sequence>
               <xs:element name="positive" type="xs:boolean"/>
               <xs:element name="_arguments" type="tns:termws" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
               <xs:element name="_arity" type="xs:int"/>
               <xs:element name="_module" type="xs:string" minOccurs="0"/>
               <xs:element name="_predicate" type="tns:predicatews" minOccurs="0"/>
               <xs:element name="_preditcatesymbolws" type="tns:predicateSymbolws" minOccurs="0"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="formulaws">
      <xs:complexContent>
         <xs:extension base="tns:axiomws">
            <xs:sequence>
               <xs:element name="freeVariables" type="tns:variablews" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
               <xs:element name="_NNF" type="tns:formulaws" minOccurs="0"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="axiomws">
      <xs:sequence>
         <xs:element name="axiomID" type="xs:anyType" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="termws">
      <xs:sequence>
         <xs:element name="_argument" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="_arity" type="xs:int"/>
         <xs:element name="_freeVariables" type="tns:variablews" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="_isClosed" type="xs:boolean"/>
         <xs:element name="_isGround" type="xs:boolean"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="variablews">
      <xs:complexContent>
         <xs:extension base="tns:termws">
            <xs:sequence>
               <xs:element name="_variableName" type="xs:string" minOccurs="0"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="predicatews">
      <xs:sequence>
         <xs:element name="arity" type="xs:int"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="predicateSymbolws">
      <xs:complexContent>
         <xs:extension base="tns:predicatews">
            <xs:sequence>
               <xs:element name="_fullname" type="xs:string" minOccurs="0"/>
               <xs:element name="_name" type="xs:string" minOccurs="0"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ParseException">
      <xs:sequence>
         <xs:element name="message" type="xs:string" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
</types>
<message name="parseRule">
<part name="arg0" type="xsd:string" />
</message>
<message name="parseRuleResponse">
<part name="return" type="tns:sessionData" />
</message>
<message name="ParseException">
<part name="fault" element="tns:ParseException" />
</message>
<portType name="FlogicParserService">
<operation name="parseRule" parameterOrder="arg0">

<input message="tns:parseRule" />
<output message="tns:parseRuleResponse" />
<fault message="tns:ParseException" name="ParseException" />
</operation>
</portType>
<binding name="FlogicParserServicePortBinding" type="tns:FlogicParserService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
<operation name="parseRule">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://rule.ontobroker.drivers.triplestore.smwplus.ontoprise.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://rule.ontobroker.drivers.triplestore.smwplus.ontoprise.com/" />
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal" />

</fault>
</operation>
</binding>
<service name="FlogicParserImplService">
<port name="FlogicParserServicePort" binding="tns:FlogicParserServicePortBinding">
<soap:address location="http://{{webservice-endpoint}}/flogic" />
</port>
</service>
</definitions>